In [5]:
import pandas as pd

log_1 = pd.read_csv('log_1.csv', sep=';')
log_2 = pd.read_csv('log_2.csv', sep=';')

log_1.head(5)

       ID  SOURCE                 DATE
0  720251  yandex  17.10.2019 11:17:17
1  720250  google  17.10.2019 11:09:32
2  720255  yandex  17.10.2019 12:04:34
3  720257  google  17.10.2019 12:17:11
4  720258  yandex  17.10.2019 12:40:07

In [6]:
log_2.head(5)

       ID  SOURCE                 DATE
0  720474  yandex  18.10.2019 12:28:59
1  720477  yandex  18.10.2019 12:53:05
2  720479      vk  18.10.2019 13:04:41
3  720483  google  18.10.2019 13:24:01

In [7]:
pd.concat((log_1, log_2)).head(5)

       ID  SOURCE                 DATE
0  720251  yandex  17.10.2019 11:17:17
1  720250  google  17.10.2019 11:09:32
2  720255  yandex  17.10.2019 12:04:34
3  720257  google  17.10.2019 12:17:11
4  720258  yandex  17.10.2019 12:40:07

In [8]:
pd.concat((log_1, log_2), ignore_index=True).head(5)

       ID  SOURCE                 DATE
0  720251  yandex  17.10.2019 11:17:17
1  720250  google  17.10.2019 11:09:32
2  720255  yandex  17.10.2019 12:04:34
3  720257  google  17.10.2019 12:17:11
4  720258  yandex  17.10.2019 12:40:07