In [1]:
import pandas as pd

log_2 = pd.read_csv('log_2.csv', sep=';')
log_2

       ID  SOURCE                 DATE
0  720474  yandex  18.10.2019 12:28:59
1  720477  yandex  18.10.2019 12:53:05
2  720479      vk  18.10.2019 13:04:41
3  720483  google  18.10.2019 13:24:01

In [2]:
log_2_success = pd.read_csv('log_2_success.csv', sep=';')
log_2_success

       ID  SUCCESS
0  720474     True
1  720477    False
2  720479    False
3  720483     True

In [3]:
pd.concat((log_2, log_2_success), axis = 1)

       ID  SOURCE                 DATE      ID  SUCCESS
0  720474  yandex  18.10.2019 12:28:59  720474     True
1  720477  yandex  18.10.2019 12:53:05  720477    False
2  720479      vk  18.10.2019 13:04:41  720479    False
3  720483  google  18.10.2019 13:24:01  720483     True