In [1]:
import pandas as pd

log_1 = pd.read_csv('log_1.csv', sep=';')
log_2 = pd.read_csv('log_2.csv', sep=';')

log_1

        ID  SOURCE                 DATE
0   720251  yandex  17.10.2019 11:17:17
1   720250  google  17.10.2019 11:09:32
2   720255  yandex  17.10.2019 12:04:34
3   720257  google  17.10.2019 12:17:11
4   720258  yandex  17.10.2019 12:40:07
5   720281  yandex  17.10.2019 14:10:31
6   720290  yandex  17.10.2019 14:37:11
7   720297  yandex  17.10.2019 15:21:57
8   720301  yandex  17.10.2019 16:20:13
9   720303  yandex  17.10.2019 16:26:25
10  720253  google  17.10.2019 11:53:01
11  720256  yandex  17.10.2019 12:12:44
12  720262  yandex  17.10.2019 12:53:55

In [2]:
log_2

       ID  SOURCE                 DATE
0  720474  yandex  18.10.2019 12:28:59
1  720477  yandex  18.10.2019 12:53:05
2  720479      vk  18.10.2019 13:04:41
3  720483  google  18.10.2019 13:24:01

In [3]:
pd.concat((log_1, log_2))

        ID  SOURCE                 DATE
0   720251  yandex  17.10.2019 11:17:17
1   720250  google  17.10.2019 11:09:32
2   720255  yandex  17.10.2019 12:04:34
3   720257  google  17.10.2019 12:17:11
4   720258  yandex  17.10.2019 12:40:07
5   720281  yandex  17.10.2019 14:10:31
6   720290  yandex  17.10.2019 14:37:11
7   720297  yandex  17.10.2019 15:21:57
8   720301  yandex  17.10.2019 16:20:13
9   720303  yandex  17.10.2019 16:26:25
10  720253  google  17.10.2019 11:53:01
11  720256  yandex  17.10.2019 12:12:44
12  720262  yandex  17.10.2019 12:53:55
0   720474  yandex  18.10.2019 12:28:59
1   720477  yandex  18.10.2019 12:53:05
2   720479      vk  18.10.2019 13:04:41
3   720483  google  18.10.2019 13:24:01

In [4]:
pd.concat((log_1, log_2), ignore_index=True)

        ID  SOURCE                 DATE
0   720251  yandex  17.10.2019 11:17:17
1   720250  google  17.10.2019 11:09:32
2   720255  yandex  17.10.2019 12:04:34
3   720257  google  17.10.2019 12:17:11
4   720258  yandex  17.10.2019 12:40:07
5   720281  yandex  17.10.2019 14:10:31
6   720290  yandex  17.10.2019 14:37:11
7   720297  yandex  17.10.2019 15:21:57
8   720301  yandex  17.10.2019 16:20:13
9   720303  yandex  17.10.2019 16:26:25
10  720253  google  17.10.2019 11:53:01
11  720256  yandex  17.10.2019 12:12:44
12  720262  yandex  17.10.2019 12:53:55
13  720474  yandex  18.10.2019 12:28:59
14  720477  yandex  18.10.2019 12:53:05
15  720479      vk  18.10.2019 13:04:41
16  720483  google  18.10.2019 13:24:01